.search-form{
    position: absolute;
    left: 10%;
    width: 30rem;
    height: 1rem;
    display: flex;
    align-items: center;
    transform-origin: center top;
    background: rgb(255, 255, 255);
    border-radius: 10px; 
}
@media screen and (max-width: 1200px){
    .search-form{
        display: none;
    }
    #bemvindo{
        display: none;
    }
    }